@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}



html {
  font-family: 'Chivo Mono', monospace;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  /* background-color: #34495e; */
  background-image: url(../images/backgroundDrums.png);
  background-size:cover;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

header{
  width:100%;
  display:block;
  text-align:center;
  padding:0px;
  opacity:1;    
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(121,117,117,1) 50%, rgba(0,0,0,1) 89%);
}
header img{width:200px;}

main{
  margin-top:40px;
}


footer{
  width:100%;
  color:#ffffff;
  display:block;
  justify-content:center;
  margin:40px 0px 0px 0px;
  opacity:0.8;
  text-align:center;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(121,117,117,1) 50%, rgba(0,0,0,1) 89%);
}
.palomadas{
  color: #000000;
  font-family: 'Baloo Chettan 2';
  font-weight: bold;
  position:relative!important;
  top: 70%;
	left:-50%;
  margin-left:auto!important;
  margin-right:auto!important;
  padding:7px!important;

}

.borderName01{
  border: 2px solid black;
  border-top-style: outset;
  padding-left: 4px;
  padding-right: 3px;


}

.copyRight {
  width:100%;
  margin:20px 0 20px 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.copyRight img{
  width:30px;
  margin:5px;
}
.copyRight p{
  width:100%;
}
.copyRight p.socialLinks{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
}


h1,h2{
color:white;
}

.actionButtons{
width:auto;
  height:auto;
  position:absolute;
  display:flex;
  justify-items:baseline;
  z-index:10;
  bottom:65px;
  left:50px;
  padding:0px;
}

.actionButtons a{
  width:35px;
  height:35px;
  position:relative;
  margin-right:5px;
  cursor:hand!important;
  border-radius:2px;
  opacity:1;
  align-self: center;
}

.flex{
  width:100%;
  position:relative;
  display:flex;
  flex-direction: row;
  justify-content:center;
  
}

#songSection{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color:white;
  display:flex;
  flex-direction:row;
  text-decoration: none;
  justify-content:center;
}

figure {  
  cursor:pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 180px;
  height: 250px;
  margin:10px;
  padding: 5px 0px 0px 10px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;

}


figure img{
  width:100%;
  height:100%;
  position:absolute;
  z-index:0;
  top:0;
  left:0;
  opacity:1;
}

figure:before, figure:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
figure:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure:hover {
  background-size: 175%;
}



figure:hover .date {
  bottom: -59px;
}
figure:hover figcaption {
  transform: translateY(-110%);
}
figure .date {
  position: absolute;
  bottom: 0;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(241, 196, 15, 0.8);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
figure .date span {
  color: white;
  line-height: 1;
}
figure .date span:first-child {
  font-family: 'Chivo Mono', monospace;
  font-size: 18px;
  font-weight: 100;
}
figure .date span:last-child {
  font-size: 15px;
  font-weight: 100;
}
figure figcaption {
  width:100%;
  color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
}
figure figcaption h4 {
  
  width:100%;
  margin: 0px;
  font-family: 'Chivo Mono', monospace;
  font-size:14px;
  line-height: 1.6;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
figure figcaption h4 > span {
  background-color: rgba(241, 196, 15, 0.8);
  padding:2px;
}
figure figcaption p {
  margin: 0;
  line-height: 1.5;
}/*# sourceMappingURL=index.css.map */