@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}



html {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  /* background-color: #34495e; */
  background-image: url(../images/backgroundDrums.png);
  background-size:cover;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}

header{
  width:100%;
  display:block;
  text-align:center;
  padding:0px;
  opacity:1;    
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(121,117,117,1) 50%, rgba(0,0,0,1) 89%);
}
header img{width:200px;}

main{
  margin-top:40px;
}


footer{
  width:100%;
  color:#ffffff;
  display:block;
  justify-content:center;
  margin:40px 0px 0px 0px;
  opacity:0.8;
  text-align:center;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(121,117,117,1) 50%, rgba(0,0,0,1) 89%);
}
.palomadas{
  color: #000000;
  font-family: 'Baloo Chettan 2';
  font-weight: bold;
  position:relative!important;
  top: 70%;
	left:-50%;
  margin-left:auto!important;
  margin-right:auto!important;
  padding:7px!important;

}

.borderName01{
  border: 2px solid black;
  border-top-style: outset;
  padding-left: 4px;
  padding-right: 3px;


}

.copyRight {
  width:100%;
  margin:20px 0 20px 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.copyRight img{
  width:30px;
  margin:5px;
}
.copyRight p{
  width:100%;
}
.copyRight p.socialLinks{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
}


h1,h2{
color:white;
}

.actionButtons{
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: row;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  background: black;
  padding: 10px;
  justify-content: center;
}


figure:hover .actionButtons{
  background: black;

}

figure:hover .date span{
color:white!important;
}

.actionButtons a{
  width:auto;
  height:auto;
  font-size:11px;
  position:relative;
  margin-right:5px;
  cursor:hand!important;
  border-radius:2px;
  align-self: center;
  background-color:rgba(255, 204, 0, 0.844);
  border:1px solid #000000;
  padding:3px;
  color:#000000;
}

.actionButtons a:hover{
  width:auto;
  height:auto;
  font-size:11px;
  position:relative;
  margin-right:5px;
  cursor:hand!important;
  border-radius:2px;
  align-self: center;
  background-color:black;
  border:1px solid rgba(255, 204, 0, 0.844);
  padding:3px;
  color:rgba(255, 204, 0, 0.844);
}

.flex{
  width:100%;
  position:relative;
  display:flex;
  flex-direction: row;
  justify-content:center;
  
}

#songSection{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color:white;
  display:flex;
  flex-direction:row;
  text-decoration: none;
  justify-content:center;
}

figure {  
  cursor:pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 180px;
  height: 250px;
  margin:10px;
  padding:0px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  border:1px solid grey;
}


figure img{
  width:100%;
  height:85%;
  position:absolute;
  z-index:0;
  top:0;
  left:0;
  opacity:1;
}

figure:before, figure:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}
figure:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
figure:hover {
  background-size: 175%;
}



figure:hover figcaption {
  transform: translateY(-110%);
}

figure figcaption {
  width:100%;
  color: white;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1;
  background-color:black;
  padding:3px 0px 10px 7px;
}
figure figcaption h4 {
  width:100%;
  margin: 0px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight:500;
  font-size:14px;
  line-height: 1.6;
}
figure figcaption h3 {
  width:100%;
  margin: 0px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight:200;
  font-size:12px;
  line-height: 1.6;
  color:rgba(255, 204, 0, 0.844);
}

figure figcaption p {
  margin: 0;
  line-height: 1.5;
}/*# sourceMappingURL=index.css.map */